@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  height: 868px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* ← Fallback in case -webkit- not accepted */
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

/*
for title:
-webkit-Chrome, Safari, Edge, Opera (and most modern browsers)
-moz-Firefox
-ms-Internet Explorer / Old Edge
-o-Old Opera

Why the Yellow Underline?
VSCode is warning you about -webkit-background-clip: text; because:
Reason 1: Missing Standard Property
The standard (non-prefixed) property is background-clip, but you only have the -webkit- version.
Best practice - add both.

The value text for background-clip is not officially part of the CSS standard yet,
even though most browsers support it with -webkit-.
VSCode is saying: "Hey, this might not work in all browsers!"
-webkit-background-clip: text;  ✅ Works in: Chrome, Safari, Edge, Opera, Firefox 
background-clip: text;          ⚠️ Limited support, but good to include


*/
